
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 25px;
}
th{
    background-color: rgb(21, 4, 98);
    color: white;
}
li {

    list-style: circle;
    
 }

h1{
    font-size: 30px;
}
body{
    font-size: 12px;

}
form{
    margin: 0 auto;
    width: 350px;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    text-align: left;
}

label{
    width: 150px ;
    text-align: center;
}

imput{
    width: 100px ;
    vertical-align: top;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
form li+li{
    margin-top: 1em;
}
.button{
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    outline: none;
    background-color: rgb(240, 98, 3);
    color: white;
    box-shadow: 0 5px #999;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(180, 72, 0);
}

.button:active{
    background-color: rgb(21, 180, 0);
    box-shadow: 0 2px #999;
    transform: translateY(2px);
}