table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 25px;
}

th {
    background-color: rgb(21, 4, 98);
    color: white;
}

li {

    list-style: circle;

}
h1 {
    font-size: 30px;
    
}

body {
    font-size: 12px;

}

form {
    margin: 0 auto;
    width: 350px;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    text-align: left;
}

label {
    width: 150px;
}

.menu{
    background-color: rgb(155, 155, 155);
    font-size: 20px;
    font-family: "Fira code";
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: none;
    top: 0;
    width: 100%;
    text-decoration: none;
   
}

.menu li{
    float: left;
    text-decoration: none;

}
.menu a {
    text-decoration: none;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;

    

}

/*.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(94, 94, 94);
    position: none;
    top: 0;
    width: 100%;
}*/

input {
    width: 150px;

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

.button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    outline: none;
    background-color: rgb(240, 98, 3);
    color: white;
    box-shadow: 0 5px #999;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(185, 76, 3);
}

.button:active {
    background-color: rgb(21, 180, 0);
    box-shadow: 0 2px #999;
    transform: translateY(2px);
}