body {
    font-family:monospace;
    font-size: 18pt;

}
ul{
    font-family: monospace;
    font-size: 16pt;
    
}
li {

    list-style: circle;
    
 }
    
.list{
    
    list-style: square;
    
 }
    
#msg{
    
    font-family: monospace;
    
}
h2{
    font-size: 24pt;
}

.dark-theme{

    color: #000000;
    
    background: #ffffff;
}
.bnt {
    color:rgb(255, 255, 255);
    background-color:dimgrey;
}
.bnt{
    position:static;
    top: 250px;
    left: 25px;
    height: 50px;
    width: 80px;
    border-radius: 10%;
    border: none;
    font-style:unset;
    font-size: 20pt;
}
.bnt:focus {outline-style: none; }